*{
    padding: 0px;
    margin: 0px;
}
.header{
    text-align: center;
    margin-top: 10%;
    background-color: black;
    width: 40vh; 
    margin-left: 40%;
    border-radius:10px;
    padding: 5px;
    
}
.cal input{
    width: 30vh;
    margin-top: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    text-align: end;
    color:aqua;
    background-color:black;
    outline: none;
    border: none;
}
.button{
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: aliceblue;
    width: 50px;
    cursor: pointer;
    font-size: 15px;
}
.button:hover{
    color:aqua
}
